[Desktop Entry]
Name=Style
X-KDE-PluginInfo-Name=Style
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
